:local(.style) {
	@import 'somethink';

	background-color: #fff;
	color: white;
	border-radius: 0;

	@media (min-height: 30px) {
		background: url(/path/image.jpg);
	}

	&::before {
		display: grid;
	}

	.zad {
		display: 'zad';
	}

	&__component {
		opacity: 0;
		transform: translateX(10deg);

		&--active {
			opacity: 1;
		}
	}
}
