{
  "extends": [
  	"stylelint-selector-bem-pattern",
  	"stylelint-config-standard",
  	"stylelint-config-css-modules",
  ],
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "indentation": "tab",
    "no-eol-whitespace": true,
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
  }
}
